@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

:root{
  --background-color: #050514;
  --background-color2: #141518;
  --color-green: #39bd45;
  --border-color: #008e8a;
  --text-color1: #fff;
  --text-color2: rgba(255,255,255, 0.5);
}
*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color1);
  font-family: 'Poppins', sans-serif;
}

.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-justify-center{
  display: flex;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-all-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}