
:root{
  --background-color: #050514;
  --border-color: #008e8a;
}
*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: #fff;
}

.flex{
  display: flex;
  
}
.flex-justify-center{
  display: flex;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-all-center{
  display: flex;
  justify-content: center;
  align-items: center;
}